body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #242424;
    padding: 1.5vh 1vw;
}

header h1 {
    color: #ffffff;
    margin: 0;
    font-size: 2rem;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1vw;
}

nav ul li {
    margin: 0;
    color: #ffffff;
}

main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5vh 1vw;
    gap: 2vw;
}

main div {
    height: 50vh;
    width: 100%;
    background-color: #979797;
    border-radius: 1rem;
}

main div img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

footer {
    text-align: center;
    background-color: #242424;
    color: #ffffff;
    padding: 1vh 0;
    width: 100%;
}